#about{
    .film__info{
      margin-top: 100px;
        .film__logo{
            width: auto;
            height: auto;
            overflow: hidden;
            border-radius: 4px;
            border: 5px ridge rgb(80, 183, 162);
            object-fit: cover;
            margin-left: 0;
            img{
                width: 100%;
                height: 100%;
            }
        }
        .film__content{
            h2{
                text-align: center;
             color:rgb(192, 97, 97);
             font-size: 40px;
             font-family: cursive;
             padding: 20px;
             text-shadow: 2px 2px 3px blue;
            }
            p{
              text-align:justify;
              font-size: 26px;
              color: rgb(10, 13, 7);
              line-height:1.8;
            }
            span{
                padding-top: 20px;
                font-size: 30px;
                font-weight: 900;
                color: $red;
                b{
                  color:rgb(16, 80, 16)
                }
            }
        }
      
    }
    .actor{
        display: flex;
        column-gap: 20px;
        .actor__photo{
            margin-block: 40px;
            width: 200%;
            height: auto;
            overflow: hidden;
            border: 2px groove floralwhite;
            img{
                width: 100%;
                height: 100%;
            }
        }
      .actor__info{
        margin-left: 20px;
        h3{
            word-spacing: 3px;
            color: rgb(179, 181, 176);
            font-size: 25px;
            span{
                font-size: 23px;
                color: darkcyan;
            }
        }
        p{
            margin-top: 25px;
            text-align: center;
            font-size: 28px;
        }
      }


        @include breakpoint("lg"){
            display: block;
            .actor__photo{
                width: auto;
                height: auto;
                img{
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }
}