header{
    #top__header{
        background-image: url("/assets/images/Netflix_Banner.jpg");
        width: 100%;
        margin-top: 100px; 
        object-fit: cover; 
        text-align: center; 
        padding-block: 110px;
        h2{
          @include text__element($padding__top:60px,$f__size:32px,$f_weight:300,$color:$white,$l__hight:1.5,$letter__sp:10px)
        }
        h1{
            @include text__element($padding__top:0,$f__size:48px,$f_weight:600,$color:$white,$l__hight:1.5,$letter__sp:5px )
        }
        h3{
            @include text__element($padding__top:0,$f__size:38px,$f_weight:300,$color:$white,$l__hight:1.5,$letter__sp:8px) 
        }
        p{
            @include text__element($padding__top:0,$f__size:24px,$f_weight:200,$color:$white,$l__hight:1.5,$letter__sp:4px)  ;
            a{
                color:$darkorange;
                letter-spacing: 0;
            }
        }
    }
}
nav .nav__items{
    transform: translateY(-50%);
    background: linear-gradient(90deg, rgba(247,74,74,1) 0%, rgb(110, 19, 19) 12%, rgb(141, 14, 8) 29%, rgb(81, 10, 6) 66%, rgb(85, 11, 5) 100%);
    display: flex;
    justify-content: space-between;
    input{
        font-size: 20px;
        outline: none;
        border: none;
        color: $white;
        background:transparent;
        width: 40%;
        padding: 20px 6px;
    }
    button{
        font-size: 25px;
        outline: none;
        border: none;
        color: $white;
        background:transparent;
        padding: 20px 6px;
        }

    ul{
        display: flex;
        margin-right: 20px;
        li{
            color: $white;
            padding: 30px 5px;
            &:first-child::after{
               content: "/";
               margin-left:10px;
            }
        }
        
    }

    @include breakpoint("sm"){
        display: block;
        input{
            font-size: 18px;
            width: 40%;
            padding: 10px 6px;
            letter-spacing: 1px;
            margin-left: 10px;
        }
        button{
            font-size: 20px;
            padding: 10px 4px;
            }

            ul{
                display: flex;
                margin-left: 15px;
                li{
                    color: $white;
                    padding: 15px 5px;
                    
                }
                
            }
    }
}
