@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  background-color: rgb(228, 218, 218);
}

* {
  font-family: "Roboto";
}

.header__btn {
  background-color: #CE1212;
  border-radius: 25px;
  border: none;
  transition: 0.3s linear;
  color: white;
  padding: 12px 24px;
  cursor: pointer;
}
.header__btn:hover {
  background-color: #ee4141;
}

.drop-down-item {
  position: relative;
}
.drop-down-item:hover .drop-down-list {
  visibility: visible;
  opacity: 1;
  top: 35px;
}

.drop-down-list {
  transition: 0.3s;
  position: absolute;
  top: 55px;
  opacity: 0;
  visibility: hidden;
  border-radius: 5px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  width: 200px;
  background-color: #fff;
  padding: 20px;
}
.drop-down-list li {
  color: #000000;
  line-height: 1.7rem;
  cursor: pointer;
  font-weight: 600;
}

.menu-card {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  width: 100%;
  border-radius: 7px;
}
.menu-card__top {
  height: 250px;
  overflow: hidden;
}
.menu-card__top__img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  transition: 0.3s linear;
  filter: grayscale(100%);
}
.menu-card__top__img:hover {
  scale: 1.1;
  filter: grayscale(0%);
}
.menu-card__content {
  padding: 12px 16px;
}
.menu-card__content h3 {
  margin: 12px auto;
  font-size: 24px;
}
.menu-card__content h4 {
  margin-bottom: 22px;
}

/* container */
.container {
  width: 90%;
  margin: 0 auto;
}

/* row */
.row {
  display: flex;
  flex-wrap: wrap;
  row-gap: 22px;
}

[class|=col] {
  padding: 0 16px;
}

/* columns */
.col-1 {
  width: 8.3333333333%;
}

.col-2 {
  width: 16.6666666667%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.3333333333%;
}

.col-5 {
  width: 41.6666666667%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.3333333333%;
}

.col-8 {
  width: 66.6666666667%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.3333333333%;
}

.col-11 {
  width: 91.6666666667%;
}

.col-12 {
  width: 100%;
}

@media (max-width: 575.98px) {
  .col-xs-1 {
    width: calc(8.3333333333% * 1);
  }
  .col-xs-2 {
    width: calc(8.3333333333% * 2);
  }
  .col-xs-3 {
    width: calc(8.3333333333% * 3);
  }
  .col-xs-4 {
    width: calc(8.3333333333% * 4);
  }
  .col-xs-5 {
    width: calc(8.3333333333% * 5);
  }
  .col-xs-6 {
    width: calc(8.3333333333% * 6);
  }
  .col-xs-7 {
    width: calc(8.3333333333% * 7);
  }
  .col-xs-8 {
    width: calc(8.3333333333% * 8);
  }
  .col-xs-9 {
    width: calc(8.3333333333% * 9);
  }
  .col-xs-10 {
    width: calc(8.3333333333% * 10);
  }
  .col-xs-11 {
    width: calc(8.3333333333% * 11);
  }
  .col-xs-12 {
    width: calc(8.3333333333% * 12);
  }
}
@media (min-width: 576px) and (max-width: 767.98px) {
  .col-sm-1 {
    width: calc(8.3333333333% * 1);
  }
  .col-sm-2 {
    width: calc(8.3333333333% * 2);
  }
  .col-sm-3 {
    width: calc(8.3333333333% * 3);
  }
  .col-sm-4 {
    width: calc(8.3333333333% * 4);
  }
  .col-sm-5 {
    width: calc(8.3333333333% * 5);
  }
  .col-sm-6 {
    width: calc(8.3333333333% * 6);
  }
  .col-sm-7 {
    width: calc(8.3333333333% * 7);
  }
  .col-sm-8 {
    width: calc(8.3333333333% * 8);
  }
  .col-sm-9 {
    width: calc(8.3333333333% * 9);
  }
  .col-sm-10 {
    width: calc(8.3333333333% * 10);
  }
  .col-sm-11 {
    width: calc(8.3333333333% * 11);
  }
  .col-sm-12 {
    width: calc(8.3333333333% * 12);
  }
}
@media (min-width: 768px) and (max-width: 991.98px) {
  .col-md-1 {
    width: calc(8.3333333333% * 1);
  }
  .col-md-2 {
    width: calc(8.3333333333% * 2);
  }
  .col-md-3 {
    width: calc(8.3333333333% * 3);
  }
  .col-md-4 {
    width: calc(8.3333333333% * 4);
  }
  .col-md-5 {
    width: calc(8.3333333333% * 5);
  }
  .col-md-6 {
    width: calc(8.3333333333% * 6);
  }
  .col-md-7 {
    width: calc(8.3333333333% * 7);
  }
  .col-md-8 {
    width: calc(8.3333333333% * 8);
  }
  .col-md-9 {
    width: calc(8.3333333333% * 9);
  }
  .col-md-10 {
    width: calc(8.3333333333% * 10);
  }
  .col-md-11 {
    width: calc(8.3333333333% * 11);
  }
  .col-md-12 {
    width: calc(8.3333333333% * 12);
  }
}
@media (min-width: 992px) and (max-width: 1199.98px) {
  .col-lg-1 {
    width: calc(8.3333333333% * 1);
  }
  .col-lg-2 {
    width: calc(8.3333333333% * 2);
  }
  .col-lg-3 {
    width: calc(8.3333333333% * 3);
  }
  .col-lg-4 {
    width: calc(8.3333333333% * 4);
  }
  .col-lg-5 {
    width: calc(8.3333333333% * 5);
  }
  .col-lg-6 {
    width: calc(8.3333333333% * 6);
  }
  .col-lg-7 {
    width: calc(8.3333333333% * 7);
  }
  .col-lg-8 {
    width: calc(8.3333333333% * 8);
  }
  .col-lg-9 {
    width: calc(8.3333333333% * 9);
  }
  .col-lg-10 {
    width: calc(8.3333333333% * 10);
  }
  .col-lg-11 {
    width: calc(8.3333333333% * 11);
  }
  .col-lg-12 {
    width: calc(8.3333333333% * 12);
  }
}
@media (min-width: 1200px) and (max-width: 1399.98px) {
  .col-xl-1 {
    width: calc(8.3333333333% * 1);
  }
  .col-xl-2 {
    width: calc(8.3333333333% * 2);
  }
  .col-xl-3 {
    width: calc(8.3333333333% * 3);
  }
  .col-xl-4 {
    width: calc(8.3333333333% * 4);
  }
  .col-xl-5 {
    width: calc(8.3333333333% * 5);
  }
  .col-xl-6 {
    width: calc(8.3333333333% * 6);
  }
  .col-xl-7 {
    width: calc(8.3333333333% * 7);
  }
  .col-xl-8 {
    width: calc(8.3333333333% * 8);
  }
  .col-xl-9 {
    width: calc(8.3333333333% * 9);
  }
  .col-xl-10 {
    width: calc(8.3333333333% * 10);
  }
  .col-xl-11 {
    width: calc(8.3333333333% * 11);
  }
  .col-xl-12 {
    width: calc(8.3333333333% * 12);
  }
}
@media (min-width: 1400px) {
  .col-xxl-1 {
    width: calc(8.3333333333% * 1);
  }
  .col-xxl-2 {
    width: calc(8.3333333333% * 2);
  }
  .col-xxl-3 {
    width: calc(8.3333333333% * 3);
  }
  .col-xxl-4 {
    width: calc(8.3333333333% * 4);
  }
  .col-xxl-5 {
    width: calc(8.3333333333% * 5);
  }
  .col-xxl-6 {
    width: calc(8.3333333333% * 6);
  }
  .col-xxl-7 {
    width: calc(8.3333333333% * 7);
  }
  .col-xxl-8 {
    width: calc(8.3333333333% * 8);
  }
  .col-xxl-9 {
    width: calc(8.3333333333% * 9);
  }
  .col-xxl-10 {
    width: calc(8.3333333333% * 10);
  }
  .col-xxl-11 {
    width: calc(8.3333333333% * 11);
  }
  .col-xxl-12 {
    width: calc(8.3333333333% * 12);
  }
}
header #top__header {
  background-image: url("/assets/images/Netflix_Banner.jpg");
  width: 100%;
  margin-top: 100px;
  object-fit: cover;
  text-align: center;
  padding-block: 110px;
}
header #top__header h2 {
  padding-top: 60px;
  font-size: 32px;
  font-weight: 300;
  line-height: 1.5;
  color: rgb(246, 246, 246);
  letter-spacing: 10px;
}
header #top__header h1 {
  padding-top: 0;
  font-size: 48px;
  font-weight: 600;
  line-height: 1.5;
  color: rgb(246, 246, 246);
  letter-spacing: 5px;
}
header #top__header h3 {
  padding-top: 0;
  font-size: 38px;
  font-weight: 300;
  line-height: 1.5;
  color: rgb(246, 246, 246);
  letter-spacing: 8px;
}
header #top__header p {
  padding-top: 0;
  font-size: 24px;
  font-weight: 200;
  line-height: 1.5;
  color: rgb(246, 246, 246);
  letter-spacing: 4px;
}
header #top__header p a {
  color: rgb(231, 130, 7);
  letter-spacing: 0;
}

nav .nav__items {
  transform: translateY(-50%);
  background: linear-gradient(90deg, rgb(247, 74, 74) 0%, rgb(110, 19, 19) 12%, rgb(141, 14, 8) 29%, rgb(81, 10, 6) 66%, rgb(85, 11, 5) 100%);
  display: flex;
  justify-content: space-between;
}
nav .nav__items input {
  font-size: 20px;
  outline: none;
  border: none;
  color: rgb(246, 246, 246);
  background: transparent;
  width: 40%;
  padding: 20px 6px;
}
nav .nav__items button {
  font-size: 25px;
  outline: none;
  border: none;
  color: rgb(246, 246, 246);
  background: transparent;
  padding: 20px 6px;
}
nav .nav__items ul {
  display: flex;
  margin-right: 20px;
}
nav .nav__items ul li {
  color: rgb(246, 246, 246);
  padding: 30px 5px;
}
nav .nav__items ul li:first-child::after {
  content: "/";
  margin-left: 10px;
}
@media (max-width: 576px) {
  nav .nav__items {
    display: block;
  }
  nav .nav__items input {
    font-size: 18px;
    width: 40%;
    padding: 10px 6px;
    letter-spacing: 1px;
    margin-left: 10px;
  }
  nav .nav__items button {
    font-size: 20px;
    padding: 10px 4px;
  }
  nav .nav__items ul {
    display: flex;
    margin-left: 15px;
  }
  nav .nav__items ul li {
    color: rgb(246, 246, 246);
    padding: 15px 5px;
  }
}

footer {
  background-color: rgb(212, 191, 164);
  color: #CE1212;
  text-align: center;
}
footer p {
  padding: 40px;
  font-size: 22px;
}

#main__section {
  margin-top: 50px;
}
#main__section .main__title {
  width: 100%;
  display: flex;
  gap: 10px;
  justify-content: center;
}
#main__section .main__title p {
  position: relative;
  letter-spacing: 10px;
  font-size: 60px;
  font-weight: 200;
}
#main__section .main__title p::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: -8px;
  width: 60%;
  height: 4px;
  background: rgb(247, 74, 74);
  background: linear-gradient(90deg, rgb(247, 74, 74) 0%, rgb(224, 34, 25) 0%, rgb(245, 53, 53) 0%, rgb(208, 19, 10) 48%, rgba(125, 8, 3, 0.6195728291) 100%);
}
#main__section .main__title span {
  font-size: 20px;
  font-weight: 300;
  padding-top: 32px;
  padding-left: 15px;
}
@media (max-width: 576px) {
  #main__section .main__title {
    display: block;
    text-align: center;
  }
  #main__section .main__title p {
    position: relative;
    font-size: 30px;
  }
  #main__section .main__title p::after {
    content: "";
    position: absolute;
    left: 40%;
    bottom: -5px;
    width: 70px;
    height: 2px;
  }
  #main__section .main__title span {
    display: block;
    margin-top: 5px;
  }
}
#main__section .main__content {
  margin-top: 40px;
}
#main__section .main__content p {
  font-size: 18px;
  font-weight: 300;
  text-align: center;
  line-height: 1.2;
}
#main__section .main__links {
  display: flex;
  justify-content: center;
}
#main__section .main__links li {
  padding: 20px 5px;
}
#main__section .main__links li a {
  color: #000000;
  text-decoration: none;
}
#main__section .main__links li a:hover {
  color: #CE1212;
}
#main__section .main__links li::after {
  content: "/";
  margin-left: 10px;
}
#main__section .main__links li:last-child::after {
  content: "";
}
@media (max-width: 576px) {
  #main__section .main__links {
    margin-top: 30px;
    margin-left: 50px;
    display: block;
  }
  #main__section .main__links li {
    font-size: 20px;
  }
  #main__section .main__links li::after {
    content: "";
  }
}

#menu {
  padding-top: 80px;
}/*# sourceMappingURL=main.css.map */